
<footer class="container">
  <p>&copy; <i>Created By ISDC Kft - Copyright {{getCurrentYear}}</i> </p>
</footer>
<script src="/assets/js/jquery-slim.min.js" ></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>